.hero {
    z-index: 1;
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    color: white;
}

.hero .divider {
    width: 250px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    margin: 30px 0;
}

@media (max-width: 830px) {
    .hero .hero-img {
        display: none !important;
    }

    .hero .hero-intro {
        width: 100% !important;
    }
}

.hero .hero-intro {
    padding: 0px 5%;
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 200px 0px 10px 0px;
    animation: fadeInLeft 1s forwards;
}

.hero .hero-intro h3 {
    font-size: 36px;
    color: #FFC501;
    font-weight: bold;
}

.hero .hero-intro p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.hero .hero-img {
    width: 50%;
    height: 100%;
    margin-bottom: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: fadeInRight 1s forwards;
}

.hero .hero-img img {
    width: 70%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.hero .hero-img .back-scare {
    z-index: -1;
    width: 70%;
    height: 300px;
    position: absolute;
    border: 4px solid white;
    margin-top: 50px;
    margin-left: 50px;
}

/* Vidéo de fond */
#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 140%;
    z-index: -1;
    transform: translate(-40%, -40%);
    object-fit: cover;
    filter: brightness(0.7);
}

a {
    text-decoration: none !important;
}

a h5,
a h6 {
    color: black;
}

.vision-and-mission {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px 5%;
    gap: 100px;

    @media (max-width: 850px) {
        background-color: rgba(235, 255, 198, 0.911);
    }
}

@media (max-width: 850px) {

    .vision-and-mission .illustration-wrapper {
        display: none;
    }

    .vision-and-mission .mission .text {
        align-items: start !important;

        .vision-and-mission .mission .text p {
            text-align: justify !important;
            text-align-last: left !important;
        }
    }

    .vision-and-mission .text {
        width: 100% !important;
        text-align: start;
    }
}

.vision-and-mission .divider {
    width: 250px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin: 20px 0;
}

.vision-and-mission .mission .text {
    align-items: end;

    p {
        text-align: justify;
        text-align-last: right;
    }
}


.vision-and-mission .vision,
.vision-and-mission .mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision-and-mission .vision .title,
.vision-and-mission .mission .title {
    display: flex;
    gap: 20px;
    align-items: end;
}

.vision-and-mission .vision .title img,
.vision-and-mission .mission .title img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 0%;
    box-shadow: none;
}

.vision-and-mission .vision .text,
.vision-and-mission .mission .text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vision-and-mission .vision .text p,
.vision-and-mission .mission .text p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.vision-and-mission .vision .illustration-wrapper,
.vision-and-mission .mission .illustration-wrapper {
    width: 30%;
}

.vision-and-mission .vision .illustration,
.vision-and-mission .mission .illustration {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 50px 200px #929200a1;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 5%;
    gap: 60px;
}

@media (min-width: 600px) {
    .team .text {
        display: flex;
        gap: 30px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .team .text p {
        font-size: 22px;
        width: 50%;
        padding: 20px;
        border-left: 2px solid black;
    }

    .team .text img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 0%;
        box-shadow: none;
    }

    .team .text .titles {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        width: 45%;
    }

    .team .text .title1 {
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .team .text {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .team .text p {
        font-size: 22px;
        width: 100%;
    }

    .team .text img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 0%;
        box-shadow: none;
    }

    .team .text .titles {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        width: 100%;
    }

    .team .text .title1 {
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 20px;
    }

    .team .divider {
        width: 250px !important;
    }
}

.team .divider {
    width: 70%;
    max-width: 400px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
}

.team .team-boxs-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 600px;
    animation: slideInRight 1s forwards;
}

.team .team-boxs {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.5s ease;
    margin-bottom: 30px;


    @media (min-width: 1150px) {
        width: 24%;
    }

    @media (max-width: 1150px) {
        width: 32%;
    }

    @media (max-width: 1075px) {
        width: 49%;
        min-width: 320px;
    }

    @media (max-width: 720px) {
        width: 100%;
    }
}

.team .team-boxs h6 {

    font-size: 18px;
}

.team .team-boxs .team-info {
    display: none;

}

.team .team-boxs.active {
    min-height: 350px;
}

.team .team-boxs.active .caption div h6 {
    display: none;
}

.team .team-boxs.active .caption {
    position: relative;
}

.team .team-boxs.active .caption img {
    position: absolute;
    right: 15px;
    transform: rotateZ(180deg);
    transition: all 0.5s ease;
}

@media (max-width: 720px) {
    .team .team-boxs.active .team-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 100%;
        padding: 15px;
        text-align: justify;
        animation: slideInRight 1s forwards;

        @media (min-width: 1075px) {
            width: calc(100% - 400px);
        }

        @media (max-width: 1075px) {
            width: 49%;
        }

        @media (max-width: 720px) {
            width: 100%;
        }
    }

    @media (max-width: 720px) {
        .team .team-boxs.active .team-info h3 {
            display: none;
        }
    }

    .team .team-boxs.active .team-info p {
        font-size: 20px;
    }

    .team .team-boxs.active .team-info .team-socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .team .team-boxs.active .team-info .team-socials a {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .team .team-boxs.active .team-info .team-socials .team-member-facebook {
        background-image: url('../images/facebook.png');
    }

    .team .team-boxs.active .team-info .team-socials .team-member-linkedin {
        background-image: url('../images/linkedin.png');
    }

    .team .team-boxs.active .team-info .team-socials .team-member-twitter {
        background-image: url('../images/twitter-x.png');
    }

}

@media (min-width: 720px) {
    .team .team-boxs.active .team-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: calc(100% - 400px);
        min-height: 100%;
        right: 0px;
        text-align: justify;
        animation: slideInRight 1s forwards;

        @media (min-width: 1075px) {
            width: calc(100% - 400px);
        }

        @media (max-width: 1075px) {
            width: 49%;
        }

        @media (max-width: 720px) {
            width: 100%;
        }
    }

    .team .team-boxs.active .team-info p {
        font-size: 20px;
    }

    .team .team-boxs.active .team-info .team-socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .team .team-boxs.active .team-info .team-socials a {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .team .team-boxs.active .team-info .team-socials .team-member-facebook {
        background-image: url('../images/facebook.png');
    }

    .team .team-boxs.active .team-info .team-socials .team-member-linkedin {
        background-image: url('../images/linkedin.png');
    }

    .team .team-boxs.active .team-info .team-socials .team-member-twitter {
        background-image: url('../images/twitter-x.png');
    }

}

.team .team-boxs.hide {
    display: none;
}

.team .profil-img {
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    cursor: pointer;
}

.team .profil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.team .caption {
    width: 100%;
    height: 35%;
    padding: 20px;
    cursor: pointer;
}

.team .caption P {
    font-size: 20px;
}

.team .caption div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.clients {
    display: flex;
    justify-content: space-between;
    padding: 0px 5% 100px 5%;
    align-items: start;
    overflow: hidden;

    @media (max-width: 850px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 800px;
    }
}

@media (max-width: 850px) {
    .clients .text {
        align-items: center !important;
        width: 100% !important;
    }


    .clients .client-info {
        margin-top: 300px;
    }

    .clients .clients-logo {
        margin-top: -300px;
    }


}

.clients .divider {
    width: 250px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .clients .clients-logo {
        scale: 0.7;
    }
}

.clients .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.clients .text .title {
    display: flex;
    gap: 20px;
    align-items: end;
}

.clients .text .title img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 0%;
    box-shadow: none;
}

.clients .text .client-info {
    position: relative;
    display: flex;
    width: 100%;
}

.clients .text .paragraphe {
    position: absolute;
    transition: all 1s ease-in-out;
    display: flex;
    opacity: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.clients .text .paragraphe.active {
    opacity: 1;
}

.clients .text p {
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}

.clients .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.clients .clients-logo .logo-box {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 220px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    transition: all 1s ease-in-out;
}

.clients .clients-logo .logo-box .scare {
    position: absolute;
    width: 410px;
    height: 150px;
    z-index: 0;
    background-color: white;
}

.clients .clients-logo .logo-box img {
    z-index: 1;
    width: 220px;
    height: 150px;
    object-fit: contain;
    object-position: center;
}

.clients .clients-logo .logo-box.active {
    transform: translateX(0%);
    z-index: 1;
}

@media (max-width: 850px) {
    .clients .views {
        flex-direction: row !important;
        margin-top: 250px;
        right: 40% !important;
    }

    .clients .view.active,
    .clients .view:hover {
        background-color: black;
        width: 30px;
        border-radius: 5px;
    }
}

.clients .views {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.clients .view {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #929200a1;
    transition: all 1s ease;
    border-radius: 50%;
}

@media (min-width: 850px) {

    .clients .view.active,
    .clients .view:hover {
        background-color: black;
        height: 30px;
        border-radius: 5px;
    }
}