main {
    background-color: black;
}

.hero {
    z-index: 1;
    width: 100%;
    height: 900px;
    position: relative;
    color: white;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    align-items: center;
    justify-content: start;
}    

.hero .hero-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.3);
}

.hero .hero-intro {
    max-width: 70%;
    margin: 0 10%;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    flex-direction: column;
    animation: fadeInLeft 1s forwards;
    gap: 30px;
}

.hero .hero-intro h1 {
    font-size: 35px;
    color: #FFC501;
    font-weight: bold;
}

.hero .hero-intro .divider {
    width: 80%;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

.hero .hero-intro h3 {
    font-size: 36px;
}

.general-bloc-title {
    color: white;
    margin: 100px 10% 20px 10%;
}

/* Changer la couleur du texte dans la liste des indicatifs */
.iti__country-list {
    color: #000000; /* Couleur du texte des indicatifs (ici noir) */
}

/* Changer la couleur du texte dans l'élément sélectionné */
.iti__selected-flag {
    color: #000000; /* Couleur du texte pour l'indicatif sélectionné */
}

/* Changer la couleur du texte pour l'indicatif actif lors du survol */
.iti__country:hover {
    color: #ff0000; /* Couleur du texte au survol (ici rouge) */
}

.question-bocs-item.hide {
    display: none !important;
}

.general-questions {
    background-color: black;
    width: 100%;
    height: 700px;
    padding: 50px 10%;
    position: relative;
}

.general-questions .progress-bar {
    position: absolute;
    padding: 0 30px;
    width: 80%;
    height: 30px;
    background-color: white;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.general-questions .progress-steps {
    width: 20%;
    height: 6px;
    border-radius: 3px;
}

.general-questions .progress-steps.active {
    background-color: #FACB01;
}

.question-boxs.active {
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
}

h1.consulting-bloc,
h1.training-bloc,
h1.keynote-bloc{
    color: white;
    margin: 50px 10% 20px 10%;
}
.consulting-bloc .progress-steps,
.training-bloc .progress-steps {
    width: 50%;
}

.keynote-bloc .progress-steps {
    width: 25%;
}

.consulting-bloc,
.training-bloc,
.keynote-bloc {
    animation: fadeInDown 1s forwards;
}



.question-boxs {
    background-color: black;
    margin-top: 6px;
    color: white;
    width: 80%;
    min-height: 600px;
    border-radius: 30px;
    box-shadow: 3px 3px 30px #c9c9c9bb;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 8%;
    gap: 20px;
}

.question-boxs .question {
    font-weight: bold;
    @media (min-width: 700px) {
        font-size: 30px;
    }
    @media (max-width: 700px) { 
        font-size: 25px;
    }
}

.question-boxs .question .spanDot {
    margin-right: 30px;
}

.question-boxs .question-detail {
    gap: 30px;
    font-size: 20px;
    max-width: 1000px;
    font-weight: 100;
    @media (min-width: 700px) {
        margin-left: 80px;  
        width: 70%;
    }
    @media (max-width: 700px) { 
        width: 100%;
    }
}

.question-boxs .info-fil {
    max-width: 1000px;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    flex-direction: column;
    gap: 30px;
    @media (min-width: 700px) {
        margin-left: 80px;  
        width: 70%;
    }
    @media (max-width: 700px) { 
        width: 100%;
    }
}

.question-boxs .info-fil select{
    height: 70px;
    border-radius: 10px;
    background-color: black;
    border: none;
    border-bottom: 3px solid #ffffff;
    padding: 20px;
    width: 100%;
    color: white;
    font-size: 20px;
    transition: all 0.4s ease;
}

.question-boxs .info-fil input {
    height: 70px;
    border-radius: 10px;
    background-color: black;
    border: none;
    border-bottom: 3px solid #ffffff;
    padding: 20px;
    width: 100%;
    color: white;
    font-size: 20px;
    transition: all 0.4s ease;
}

.question-boxs .info-fil input:focus {
    border: solid 2px white;
}

.question-boxs .info-fil .date-picker {
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question-boxs .info-fil .date-picker input {
    width: 40%;
}

.question-boxs .info-fil .date-picker p {
    font-size: 25px;
    height: 70px;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    justify-content: center;
    align-items: end;
}

.question-boxs .info-fil .btn-next, .btn-submit {
    background-color: #FACB01;
    color: black;
    height: 44px;
    border-radius: 22px;
    font-size: 20px;
    transition: all 0.2s ease;
}

.question-boxs .info-fil .btn-next {
    width: 85px;
}

.question-boxs .info-fil .btn-submit {
    width: 130px;
}

.question-boxs .info-fil .btn:hover {
    box-shadow: 0px 0px 20px #FACB01;
}

.question-boxs .steps-buttons {
    width: 100%;
    height: 50px;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    justify-content: end;
    align-items: end;
    gap: 30px;
}

.question-boxs .steps-buttons p {
    font-size: 25px;
    height: 50px;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    align-items: center;
    margin: 0;
}

.question-boxs .steps-buttons img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 50%;
}

.question-boxs .steps-buttons img:hover {
    box-shadow: 0px 0px 20px white;
}

[data-service] {
    display: none; /* Cache tous les blocs de service au chargement */
}

#confirmation-message.validate {
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
}

#confirmation-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    padding: 50px 10%;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

#confirmation-message p {
    font-size: 25px;
}

#confirmation-message .redirection {
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    -webkit-flex-wrap: wrap;   /* Préfixe pour Safari */
    flex-wrap: wrap;           /* Standard moderne */
    width: 100%;
    gap: 30px;
    justify-content: center;

}

#confirmation-message a {
    text-decoration: none;
    color: black;
    height: 60px;
    width: 200px;
    background-color: #FACB01;
    font-size: 20px;
    display: -webkit-box;      /* Ancien préfixe pour Safari */
    display: -ms-flexbox;      /* Préfixe pour IE 10 */
    display: flex;             /* Standard moderne */
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.4s ease;
}

#confirmation-message a:hover {
    color: white;
    box-shadow: 0px 0px 15px #FACB01;
}