.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    width: 300px;
    height: 50px;
}

.btn-three h6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-three img {
    opacity: 0.8;
    margin-left: 0px;
    width: 0px;
    transition: all 0.3s;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #FACB01;
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three:hover img {
    margin-left: 20px;
    width: 25px;
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #FACB01;
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.hero {
    z-index: 1;
    width: 100%;
    min-height: 900px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;



    .hero-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        filter: brightness(0.3);
    }

    .hero-intro {
        max-width: 800px;
        margin: 200px 5% 0 5%;
        display: flex;
        flex-direction: column;
        animation: fadeInLeft 1s forwards;
        gap: 30px;

        h3 {
            font-size: 36px;
            color: #FFC501;
            font-weight: bold;
        }

        h1 {
            font-size: 35px;

        }

        p {
            font-size: 20px;
            font-weight: 500;

        }
    }
}

#training1 {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 100px 5% 50px 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 750px) {
        flex-direction: column;

        .text,
        .advantages {
            min-width: 100% !important;
            width: 100% !important;
        }

    }

    .divider {
        min-width: 350px;
        width: 70%;
        height: 6px;
        background-color: black;
        border-radius: 3px;
    }

    .text {
        min-width: 320px;
        max-width: calc(40% - 50px);
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        p {

            font-size: 20px;
        }

        .paragraphe {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }

    @media (min-width: 750px) {
        .glob {
            z-index: -2;
            position: absolute;
            object-fit: cover;
            object-position: center;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            top: 100px;
            right: 5%;
        }
    }

    @media (max-width: 750px) {
        .glob {
            z-index: -2;
            position: absolute;
            object-fit: cover;
            object-position: center;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            bottom: 200px;
            right: 5%;
        }
    }

    @media (max-width: 470px) {
        .glob {
            display: none;
        }
    }

    .advantages {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    h6 {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
        background-color: #EAEAEA;
        animation: slideInRight 0.7s forwards;
    }
}

#training2 {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 5%;
    justify-content: space-between;
    gap: 50px;

    @media (min-width: 550px) {
        .text {
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            h1 {
                max-width: 500px;
                width: 60%;
            }

            p {
                font-size: 20px;
                padding-left: 50px;
                border-left: 5px solid black;
                width: 50%;
            }
        }
    }

    @media (max-width: 550px) {
        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;

            h1 {
                width: 100%;
            }

            p {
                font-size: 20px;
                width: 100%;
            }
        }

        .divider {
            width: 250px;
            width: 70%;
            height: 6px;
            background-color: black;
            border-radius: 2px;
        }
    }

    .paragraphe {
        width: 100%;
        height: 600px;
        position: relative;
        overflow: hidden;

        img {
            z-index: -1;
            width: 500px;
            height: 500px;
            object-fit: contain;
            object-position: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        svg {
            position: absolute;
            z-index: 1;
        }

        p {
            position: absolute;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border: 4px solid #0C513F;
            border-radius: 10px;
            background-color: white;
            z-index: 2;
            font-size: 18px;
        }

        .argument1 {
            top: 50px;
            transform: translate(0%, -50%);
        }

        .argument2 {
            top: 280px;
            transform: translate(0%, -50%);
        }

        .argument3 {
            top: 500px;
            transform: translate(0%, -50%);
        }

        .argument4 {
            top: 150px;
            right: 0px;
            transform: translate(0%, -50%);
        }

        .argument5 {
            top: 400px;
            right: 0px;
            transform: translate(0%, -50%);
        }
    }
}

#training3 {
    width: 100%;
    display: flex;
    padding: 50px 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 700px) {
        flex-direction: column;
    }

    .divider {
        min-width: 250px;
        width: 70%;
        height: 6px;
        background-color: black;
        border-radius: 3px;
    }

    .text {

        @media (min-width: 700px) {
            max-width: 70%;
        }

        @media (max-width: 700px) {
            width: 100%;
        }

        display: flex;
        flex-direction: column;
        gap: 30px;

        p {
            font-size: 20px;
        }
    }

    .paragraphe {
        @media (min-width: 700px) {
            width: calc(100% - 500px);
            width: 500px;
            height: 500px;

            .training3-img2 {
                display: none;
            }

            .training3-img {
                z-index: -1;
                position: absolute;
                object-fit: contain;
                object-position: right;
                filter: brightness(0.7);
                width: 100%;
                height: 100%;
            }

            .argument1 {
                top: 2%;
                right: 80%;
            }

            .argument2 {
                top: 10%;
                right: 0%;
            }

            .argument3 {
                top: 40%;
                right: 40%;
            }

            .argument4 {
                bottom: 10%;
                right: 25%;
            }

            .argument5 {
                bottom: 5%;
                right: 100%;
            }
        }

        @media (max-width: 700px) {
            width: 100%;
            height: 400px;

            .training3-img2 {
                z-index: -1;
                position: absolute;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
                filter: brightness(0.7);
                width: 100%;
                height: 100%;
                border-radius: 30px;
            }

            .training3-img {
                display: none;
            }

            .argument1 {
                top: 0%;
                left: 0%;
            }

            .argument2 {
                top: 0%;
                right: 0%;
            }

            .argument3 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .argument4 {
                bottom: 0%;
                right: 0%;
            }

            .argument5 {
                bottom: 0%;
                left: 0%;
            }
        }

        position: relative;

        .argument {
            box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.445);
            position: absolute;
            overflow: hidden;
            transition: all 0.5s ease;
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            border: none;
            padding: 0px;
            gap: 0px;
            background-color: white;
            background: radial-gradient(white 40%, #FACB01 100%);

            img {
                display: none;
                width: 30px;
            }

            p {
                display: none;
                height: 100%;
                margin: 0;
                align-content: center;
                animation: fadeInLeft 1s forwards;
            }
        }

        .argument:hover {
            z-index: 6;
            display: flex;
            width: 300px;
            height: 120px;
            border-radius: 10px;
            border: 5px solid #FACB01;
            padding: 20px;
            gap: 30px;
            align-items: center;
            background-color: white;
            background: white;

            img {
                display: block;
                width: 30px;
            }

            p {
                display: block;
                height: 100%;
                margin: 0;
                align-content: center;
                animation: fadeInLeft 1s forwards;
            }
        }
    }
}

#training4 {
    width: 100%;
    flex-direction: column;
    padding: 50px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 40px;

    @media (min-width: 700px) {
        .text {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 30px;

            h1 {
                width: 55%;
            }

            p {
                font-size: 20px;
                padding-left: 50px;
                border-left: 5px solid black;
                width: 45%;
            }
        }
    }

    @media (max-width: 700px) {
        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            h1 {
                width: 100%;
            }

            p {
                font-size: 20px;
                width: 100%;
            }
        }

        .divider {
            min-width: 250px;
            width: 70%;
            height: 6px;
            background-color: black;
            border-radius: 3px;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .paragraphe {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;

            .argument {
                font-size: 18px;
                display: flex;
                min-height: 50px;
                align-items: center;
                width: 100%;

                p {
                    width: 100%;
                    min-height: 50px;
                    border-radius: 5px;
                    margin: 0;
                    padding: 10px 20px;
                    background-color: #FACB01;
                    box-shadow: 5px 9px 0px rgba(0, 0, 0, 0.24);
                }

                .line {
                    background-color: #FACB01;
                    width: 20px;
                    height: 5px;
                }

                .losange {
                    background-color: #FACB01;
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .video_blocs {
        display: flex;
        width: calc(100% - 600px);
        height: 100%;
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    #training4-video-1 {
        margin-top: 20%;
        width: 40%;
        height: 80%;
        /* Centre la vidéo */
        object-fit: cover;
        border-radius: 10px;
    }

    #training4-video-2 {
        width: 40%;
        height: 80%;
        /* Centre la vidéo */
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 1000px) {
    #training4-video-1 {
        display: none;
    }

    #training4-video-2 {
        @media (max-width: 1000px) {
            display: none;
        }

        width: 100%;
        height: 100%;
        /* Centre la vidéo */
        object-fit: cover;
        border-radius: 10px;
    }
}

.why-us {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    justify-content: space-between;
    gap: 50px;

    @media (min-width: 700px) {
        .text {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 30px;

            h1 {
                width: 55%;
            }

            p {
                font-size: 20px;
                padding-left: 50px;
                border-left: 5px solid black;
                width: 45%;
            }
        }
    }

    @media (max-width: 700px) {
        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            h1 {
                width: 100%;
            }

            p {
                font-size: 20px;
                width: 100%;
            }
        }

        .divider {
            min-width: 250px;
            width: 70%;
            height: 6px;
            background-color: black;
            border-radius: 3px;
        }
    }

    .img_blocs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
        width: 100%;

        .blocs {
            position: relative;
            width: 350px;
            height: 270px;
            overflow: hidden;
            display: flex;
        }

        p {
            margin: 0px 10px 10px 10px;
            border-radius: 5px;
            background-color: white;
            height: 55%;
            padding: 15px;
            font-size: 19px;
            bottom: 0px;
            position: absolute;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.301);
        }

        img {
            top: 0;
            position: absolute;
            width: 100%;
            height: 70%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            border-radius: 10px;
        }
    }
}

.questions {
    margin: 100px 5%;
    border-radius: 15px;
    border: 4px solid black;
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    @media (min-width: 850px) {
        align-items: start;

        .faqs,
        .answers {
            width: 48%;
        }

        .questions-list {
            max-height: 550px;
        }

        .answer-box {
            height: 550px;
        }
    }

    @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .faqs,
        .answers {
            width: 100%;
        }

        .questions-list {
            max-height: 250px;

            padding-bottom: 20px;
            border-bottom: 2px solid black;
        }

        .answer-box {
            min-height: 500px;
        }
    }

    h1 {
        color: #0C513F;
    }

    .faqs {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;
    }

    .answers {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;
        height: 100%;
    }

    .questions-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: start;
        align-items: start;

        .question {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            background-color: #0c513f15;
            transition: all 0.5s ease;
            gap: 10px;

            img {
                opacity: 0;
                width: 25px;
                height: 25px;
                object-fit: contain;
                object-position: center;
                transition: all 0.5s ease;
            }
        }

        .question.active {
            background-color: black;

            h5 {
                color: white;
            }

            img {
                opacity: 1;
            }
        }
    }

    .answer-box {
        width: 100%;
        padding: 20px;
        background-color: #FFC501;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        border-radius: 15px;

        img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            object-position: center;
        }

        .answer {
            position: relative;
            width: 100%;

            p {
                position: absolute;
                font-size: 23px;
                text-align: justify;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 1s ease;

                @media (max-width: 400px) {
                    font-size: 20px !important;
                }
            }

            p.active {
                opacity: 1;
            }
        }
    }
}



.more-questions {
    min-height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #124140;
    margin: 100px 5%;
    padding: 30px;
    color: white;
    margin-top: 80px;

    h2,
    h5,
    a {
        width: 100%;
        max-width: 800px;
        text-align: center;
    }

    h5 {
        margin: 20px 0;
    }

    a {
        min-height: 50px;
        font-size: 20px;
        color: #134140;
        font-weight: 600;
        background-color: #D9D9D9;
    }
}

.visible {
    opacity: 1;
}

a {
    text-decoration: none !important;

    h5,
    h6 {
        color: black;
    }
}